@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap') layer(base);
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap') layer(base);
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-success: #22C55E;
  --color-dark: #1B1D1E;
  --color-light: #d5eaf5;
  --color-primary: #4225F9;
  --color-warning: #F59E0B;
  --color-purple-gradient: #EBECFF;
  --color-cyan-gradient: #E6F9F3;
  --color-dark-purple-gradient: #2A08D733;
  --color-dark-cyan-gradient: #44A58633;

  --shadow-product-shadow: 0px 5px 15px 0px #00000059;
  --shadow-testimonial-shadow: 0px 7px 29px 0px #64646F33;
  --shadow-button-shadow: 0px 1px 2px 0px #0000000D;
  --shadow-collaborator-shadow: 0px 15px 40px 0px #00000066, 0px 5px 10px 0px #00000033, 0px 0px 0px 1px #0000001A;
  --shadow-inovative-card-shadow: 0px 7px 32px 0px #64646F14;

  --text-20: 20px;

  --spacing-28: 120px;
}

html {
  scroll-behavior: smooth;
}

/* body[data-scroll-locked]:has(.no-scroll-lock) {
  overflow: auto !important;
  padding-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
  pointer-events: all;
  margin-right: 0px !important;
} */

/* body:has([data-state="open"]:not(.no-scroll-lock)) {
  overflow: hidden !important;
  pointer-events: all !important;
} */

.swiper-pagination {
  @apply bottom-0
}

html.dark .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet-active {
  @apply bg-primary! w-14! rounded-sm!
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

.announcement-gradient {
  background: linear-gradient(90deg, #FF12A8 20.84%, #AA20FA 58.82%, #2206D5 100%);
}

.motion-arc {
  will-change: transform, border-radius;
}

section {
  @apply lg:py-14 py-10 overflow-x-hidden
}

.light-icon>g,
.light-icon>g>path {
  stroke-width: 1;
}

@layer utilities {
  .instrument-font {
    font-family: 'Instrument Serif', serif;
  }
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height)
  }

  to {
    height: 0
  }
}

@layer components {
  h1 {
    @apply text-dark dark:text-white text-5xl lg:text-6xl xl:text-8xl font-semibold;
  }

  h2 {
    @apply sm:text-4xl text-2xl lg:text-5xl font-medium text-dark dark:text-white leading-[1.2] -tracking-[1%];
  }

  h3 {
    @apply sm:text-3xl text-xl font-medium text-dark dark:text-white;
  }

  h4 {
    @apply text-2xl font-medium text-dark dark:text-white;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-lg lg:text-xl font-medium;
  }

  p {
    @apply text-base font-normal text-dark/60 dark:text-white/60;
  }
}